@import url("https://fonts.googleapis.com/css?family=Sacramento");

@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:200");

body {
  margin: 0;
  overflow: hidden;
  background: #000;
}

i {
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  -webkit-animation: "screen" infinite;
  animation: "screen" infinite;
}

i:nth-child(1) {
  top: 20px;
  left: 30px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(2, 226, 252, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #02e2fc;
  animation-duration: 5s;
}

i:nth-child(2) {
  top: 420px;
  left: 30px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(250, 160, 2, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #faa002;
  animation-duration: 21s;
}

i:nth-child(3) {
  top: 550px;
  left: 880px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(20, 252, 2, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #14fc02;
  animation-duration: 5s;
}

i:nth-child(4) {
  top: 5px;
  left: 1030px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(252, 2, 196, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #fc02c4;
  animation-duration: 4s;
}

i:nth-child(5) {
  top: 280px;
  left: 12px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(139, 44, 148, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #8b2c94;
  animation-duration: 5s;
}

i:nth-child(6) {
  top: 550px;
  left: 30px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(251, 184, 41, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #fbb829;
  animation-duration: 6s;
}

i:nth-child(7) {
  top: 650px;
  left: 50px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(195, 255, 104, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #c3ff68;
  animation-duration: 15s;
}

i:nth-child(8) {
  top: 20px;
  left: 860px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 0, 102, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #ff0066;
  animation-duration: 5s;
}
i:nth-child(9) {
  top: 896px;
  left: 132px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 255, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #ffff00;
  animation-duration: 13s;
}

i:nth-child(10) {
  top: 578px;
  left: 357px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(127, 175, 27, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #7faf1b;
  animation-duration: 4s;
}

i:nth-child(11) {
  top: 380px;
  left: 230px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(1, 210, 255, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #01d2ff;
  animation-duration: 5s;
}

i:nth-child(12) {
  top: 570px;
  left: 1100px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(237, 247, 255, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #edf7ff;
  animation-duration: 6s;
}

i:nth-child(13) {
  top: 600px;
  left: 600px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 255, 255, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #00ffff;
  animation-duration: 7s;
}

i:nth-child(14) {
  top: 200px;
  left: 520px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(0, 0, 255, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #0000ff;
  animation-duration: 14s;
}

i:nth-child(15) {
  top: 370px;
  left: 500px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(16, 225, 228, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #10e1e4;
  animation-duration: 9s;
}

i:nth-child(16) {
  top: 620px;
  left: 730px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 51, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #ff3300;
  animation-duration: 3s;
}
i:nth-child(17) {
  top: 62px;
  left: 330px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 234, 232, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #ffeae8;
  animation-duration: 4s;
}

i:nth-child(18) {
  top: 0px;
  left: 250px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 229, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #ffe500;
  animation-duration: 5s;
}

i:nth-child(19) {
  top: 600px;
  left: 180px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 102, 153, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #ff6699;
  animation-duration: 6s;
}

i:nth-child(20) {
  top: 987px;
  left: 13px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(84, 156, 204, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #549ccc;
  animation-duration: 7s;
}

i:nth-child(21) {
  top: 120px;
  left: 930px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(184, 175, 3, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #b8af03;
  animation-duration: 8s;
}

i:nth-child(22) {
  top: 80px;
  left: 700px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(171, 250, 249, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #abfaf9;
  animation-duration: 5s;
}

i:nth-child(23) {
  top: 350px;
  left: 720px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(127, 15, 255, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #7f0fff;
  animation-duration: 2s;
}

i:nth-child(24) {
  top: 997px;
  left: 678px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(48, 128, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #308000;
  animation-duration: 3s;
}

i:nth-child(25) {
  top: 714px;
  left: 246px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 38, 38, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #ff2626;
  animation-duration: 4s;
}

i:nth-child(26) {
  top: 0px;
  left: 480px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(15, 29, 215, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #0f1dd7;
  animation-duration: 5s;
}

i:nth-child(27) {
  top: 456px;
  left: 1000px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(51, 102, 153, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #336699;
  animation-duration: 6s;
}

i:nth-child(28) {
  top: 350px;
  left: 865px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(70, 172, 255, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #46acff;
  animation-duration: 7s;
}

i:nth-child(29) {
  top: 100px;
  left: 100px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(222, 4, 5, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #de0405;
  animation-duration: 8s;
}

i:nth-child(30) {
  top: 1087px;
  left: 722px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(77, 254, 21, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #4dfe15;
  animation-duration: 9s;
}

i:nth-child(31) {
  width: 200px;
  height: 200px;
  top: 795px;
  left: 605px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(243, 10, 70, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #f30a46;
  animation-duration: 1s;
}

i:nth-child(32) {
  top: 234px;
  left: 678px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(245, 253, 45, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #f5fd2d;
  animation-duration: 2s;
}

i:nth-child(33) {
  top: 270px;
  left: 1230px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(178, 0, 255, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #b200ff;
  animation-duration: 3s;
}
i:nth-child(34) {
  width: 200px;
  height: 200px;
  top: 1126px;
  left: 332px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(102, 204, 255, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #66ccff;
  webkit-animation-duration: 4s;
}

i:nth-child(35) {
  top: 407px;
  left: 83px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(20, 243, 175, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #14f3af;
  animation-duration: 5s;
}

i:nth-child(36) {
  width: 200px;
  height: 200px;
  top: 176px;
  left: 297px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(100, 245, 102, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #64f566;
  animation-duration: 6s;
}

i:nth-child(37) {
  width: 300px;
  height: 300px;
  top: 820px;
  right: 10px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(236, 218, 65, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #ecda41;
  animation-duration: 7s;
}

i:nth-child(38) {
  top: 500px;
  left: 500px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 61, 45, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #ff3d2d;
  animation-duration: 8s;
}

i:nth-child(39) {
  top: 20px;
  right: 26px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(74, 73, 235, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #4a49eb;
  animation-duration: 9s;
}

i:nth-child(40) {
  width: 200px;
  height: 200px;
  top: 251px;
  left: 1053px;
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(255, 72, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  box-shadow: 0px 0px 5px 0px #ff4800;
  animation-duration: 10s;
}

@keyframes screen {
  from {
    opacity: 0;
  }

  25% {
    opacity: 0.3;
    transform: scale3d(3, 3, 4);
  }

  50% {
    opacity: 0.75;
  }

  75% {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
body {
  max-height: 100vh;
}
#card {
  height: 500px;
  width: 800px;
  /* margin: 5em auto; */
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(50%); */
  /* 
  top: -15px;
  left: 25%; */
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}
#card h2 {
  font-size: 3em;
  margin: 0;
  /* color: pink; */
  color: rgba(224, 25, 17, 0.5);
  text-align: center;
}
#card p {
  margin-top: 10px;
  font-size: 1.6em;
  text-align: justify;
  padding-left: 30px; /* Espacio en blanco a la izquierda */
  padding-right: 30px; /* Espacio en blanco a la derecha */
}

#author-container {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: -30px;
}
#author {
}

#click-instruction {
  display: block;
  position: fixed;
  bottom: 10px;
  left: 25%;
  transform: translateY(50%);
  font-family: arial;
  font-variant: small-caps;
  letter-spacing: 2px;
  width: 100%;
  color: #e01911;
  font-weight: 550;
}

.side {
  background: #eee;
  height: 100%;
  width: 100%;
  /*    border:1px solid red; */
  padding: 10px;
}
/* .side.one {
  width: 320px;
  transform: skew(10deg, 20deg);
  background: linear-gradient(90deg, #fff, #fff 40%, #ddd);
} */
.side.two {
  /* transform: skew(10deg, -15deg); */
  background: linear-gradient(-90deg, #fff, #fff 40%, #f0f0f0);
  box-shadow: 3px 3px 20px #000000;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Sacramento", cursive;
  background-color: #f1e3d3;
  overflow: hidden;
}

.valentines-day {
  position: fixed;
  cursor: pointer;
}

.envelope {
  position: relative;
  filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.3));
}

.envelope:before {
  content: "";
  position: absolute;
  width: 254px;
  height: 254px;
  background-color: #ff9494;
  transform: rotate(-45deg);
  border-radius: 0 15px 0 0;
  left: -37px;
  top: -82px;
}

.envelope:after {
  content: "";
  position: absolute;
  background-color: #ff9494;
  width: 360px;
  height: 225px;
  left: -90px;
  top: 45px;
}

.heart {
  position: relative;
  background-color: #e01911;
  display: inline-block;
  height: 180px;
  top: 50px;
  left: 0;
  transform: rotate(-45deg);
  width: 180px;
  filter: drop-shadow(0 -10px 25px rgba(0, 0, 0, 0.3));
  transition: 0.5s;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #e01911;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  position: absolute;
}

.heart:before {
  top: -100px;
  left: 0;
}

.heart:after {
  left: 100px;
  top: 0;
}

.front {
  position: absolute;
  width: 0;
  height: 0;
  border-right: 190px solid #fbd2d2;
  border-top: 113px solid transparent;
  border-bottom: 113px solid transparent;
  top: 44px;
  left: 80px;
  z-index: 4;
}

.front:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 190px solid #fbd2d2;
  border-top: 113px solid transparent;
  border-bottom: 113px solid transparent;
  top: -113px;
  left: -170px;
}

.front:after {
  width: 0;
  height: 0;
  position: absolute;
  content: "";
  border-bottom: 150px solid #fce7e9;
  border-right: 180px solid transparent;
  border-left: 180px solid transparent;
  top: -36px;
  left: -170px;
}

.text {
  position: absolute;
  font-family: arial;
  letter-spacing: 5px;
  text-align: center;
  color: white;
  z-index: 2;
  top: 80px;
  left: 15px;
  transition: 0.5s;
}

.valentines-day:hover .heart {
  transform: translateY(-50px) rotate(-45deg);
}

.valentines-day:hover .text {
  transform: translateY(-50px);
}
